<h2>Make a New Interaction</h2>
<%if @interaction && @interaction.errors.any?%>
  <%@interaction.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>
<%if @note && @note.errors.any?%>
  <%@note.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>

<form action="/interactions" method="POST">
  <label>*Date:</label>
  <input type="text" id="interaction_date" name="interaction[date]">
  <br></br>
  <label>Location:</label>
  <input type="text" id="interaction_location" name="interaction[location]">
  <br></br>
  <br></br>
 
  <h3>Add a Note about this Interaction</h3>
  <label>Note:</label>
    <input  type="text" name="note[content]" id="note_content"></input>
  <br></br>

  <button type="submit" value="Create New Interaction" class="create-button">Create New Interaction</button>
  <br></br>
  <p>* Indicates a required field</p>
</form>