<h3>Login to Who You Know</h3>
<br>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <button type="submit" value="submit">submit</button>
</form>

<br>
<br>

<h4>Not a user, yet? <a href="/signup">Click here to Sign Up</a></h4>