<h2>Who <%= @user.username%> Knows</h2>
<br>
<a class="big-text" href="/contacts">Contacts</a>
<br>
<br>
<br>
<a class="big-text" href="/interactions">Interactions</a>
<br>
<br>
<br>
<a class="big-text" href="/notes">Notes</a>

