<h2>Who <%= @user.username%> Knows</h2>
<br>
<a href="/contacts"><large>Contacts</large></a>
<br>
<a href="/interactions"><large>Interactions</large></a>
<br>
<a href="/notes"><large>Notes</large></a>

