
<%if @user && @user.errors.any?%>
  <%@user.errors.messages.each do |k,v|%>
    <p>There was a problem with the <%= k %> you gave.<br></br>
    <% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>

<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <button type="submit" value="submit">submit</button>
</form>

<br>

<h4>Already a user? <a href="/login">Click here to Log In</a></h4>