<h2>Make a New Contact</h2>
<%if @contact && @contact.errors.any?%>
  <%@contact.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>
<%if @note && @note.errors.any?%>
  <%@note.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>

<form action="/contacts" method="POST">
  <label>* Name:</label>
  <input type="text" id="contact_name" name="contact[name]">
  <br></br>
  <label>Location:</label>
  <input type="text" id="contact_location" name="contact[location]">
  <br></br>
  <label>Education:</label>
  <input type="text" id="contact_education" name="contact[education]">
  <br></br>
  <label>Email:</label>
  <input type="text" id="contact_email" name="contact[email]">
  <br></br>
  <label>Telephone:</label>
  <input type="text" id="contact_telephone" name="contact[telephone]">
  <br></br>
  <label>Slack:</label>
  <input type="text" id="contact_slack" name="contact[slack]">
  <br></br>
  <label>GitHub:</label>
  <input type="text" id="contact_github" name="contact[git_hub_url]">
  <br></br>
  <label>LinkedIn:</label>
  <input type="text" id="contact_linkedin" name="contact[linked_in_url]">
  <br></br>
  <label>Web Page:</label>
  <input type="text" id="contact_homepage" name="contact[home_page_url]">
  <br></br>
  <br></br>
 
  <label>Add a Note about this Contact</label>
  <br></br>
  <label>Note:</label>
    <input  type="text" name="note[content]" id="note_content"></input>
  <br></br>

  <input type="submit" value="Create New Contact">
  <br></br>
  <p>* Indicates a required field</p>

</form>