<h2>Make a New Contact</h2>
<%if @contact && @contact.errors.any?%>
  <%@contact.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>
<%if @note && @note.errors.any?%>
  <%@note.errors.messages.each do |k,v|%>
    <p><% v.each do |message|%>
      <%= message %></p>
    <%end%>
  <%end%>
<%end%>

<form action="/contacts" method="POST">
  <label>Name:</label>
  
  <br></br>
  
  <input type="text" id="contact_name" name="cotnact[name]">
  
  <br></br>
  <br></br>
 
  <label>Add a Note about this Contact</label>
  <br></br>
  <label>Note:</label>
    <input  type="text" name="note[content]" id="note_content"></input>
  <br></br>

  <input type="submit" value="Create New Contact">

</form>