<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>WhoYouKnow</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    
  </head>
  <body>
    <div class="wrapper">
      <header class="branding">
        <h1>Who You Know</h1>
        <% if logged_in? %>
          <small>You're logged in as: </small><large><%=current_user.username %></large>
          <br>
          <a href="/users/<%=current_user.slug%>"><small>See Your Page</small></a>
          <a href="/contacts/new"><small>Create A New Contact</small></a>
          <a href="/interactions/new"><small>Create A New Interaction</small></a>
          <a href="/notes/new/for_contact"><small>Create A New Note for a Contact</small></a>
          <a href="/notes/new/for_interaction"><small>Create A New Note for an Interaction</small></a>
          <a href="/logout"><small>Log Out</small></a>
          <br>
          <br>
        <% else %>
          <br>
          <br>
        <%end%>
        <% unless locals.empty? %>
          <p><%= message %></p>
        <% end %>
      </header>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2018 <strong>WhoYouKnow</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
