<h2>Make a New Note</h2>

<form action="/notes/for_contact" method="POST">
  <label>Content:</label>
  
  <br></br>
  
  <input type="text" id="note_content" name="note[content]">
  
  <br></br>
  <br></br>
 
  <label>Choose an existing Contact to associate with this note:</label>
 
  <br></br>
 
  <%@user.contacts.each do |c|%>
    <input type="radio" name="note[contact_id]" id="<%= c.id%>" value="<%=c.id%>"><%=c.name%></input>
  <%end%>
 
  <br></br>
 
  <label>and/or, create a new Contact:</label>
  <br></br>
  <label>Name:</label>
    <input  type="text" name="contact[name]" id="contact_name"></input>
  <br></br>
  <input type="submit" value="Create New Note">
</form>