<h2>Make a New Note</h2>

<form action="/notes/for_interaction" method="POST">
  <label>Content:</label>
  
  <br></br>
  
  <input type="text" id="note_content" name="note[content]">
  
  <br></br>
  <br></br>

  <label>Choose an existing Interaction to associate with this note:</label>
 
  <br></br>
 
  <%@user.interactions.each do |i|%>
    <input type="radio" name="note[interaction_id]" id="<%= i.id%>" value="<%=i.id%>"><%=i.date%></input>
  <%end%>
 
  <br></br>
 
  <label>and/or, create a new Interaction:</label>
  <br></br>
  <label>Date:</label>
    <input  type="text" name="interaction[date]" id="interaction_date"></input>
  <br></br>

  <input type="submit" value="Create New Note">

</form>